:root {

	// Basic
	--features-cl: var(--cl-white);
	--features-bg-cl: var(--cl-blue-300);

	// Sticker
	--features-sticker-border-cl: var(--cl-white);

	// Badge
	--features-badge-bg-cl: var(--cl-peach-300);
}
