:root {

	// Basic
	--hero-bg-cl: var(--cl-blue-900);

	// Items
	--hero-items-before-bg-cl: var(--cl-indigo-100);

	// Frame
	--hero-frame-cl: var(--cl-white);
	--hero-frame-bg-cl: var(--cl-blue-300);

	// Video
	--hero-video-button-cl: var(--cl-white);
	--hero-video-button-bg-cl: var(--cl-indigo-100);

	// sticker
	--hero-sticker-cl: var(--cl-white);
	--hero-sticker-bg-cl: var(--cl-blue-300);
}
