:root {

	// Bssic
	--steps-bg-cl: var(--cl-indigo-100);
	--steps-cl: var(--cl-white);

	// Card
	--steps-card-icon-cl: var(--cl-peach-300);
	--steps-card-border-cl: var(--cl-graphite-300);

	// Arrow
	--steps-arrow-cl: var(--cl-graphite-300);
}
