.header {
	@include media-breakpoint-down(lg) {
		box-shadow: 2px 3px 9px rgb(34 43 85 / 16%);
	}

	@include media-breakpoint-down(md) {
		padding: 8px 0;
	}

	@include media-breakpoint-down(sm) {
		padding: 6px 0;
	}


	position: fixed;
	z-index: 5;
	width: 100%;
	padding: 20px 0;
	background-color: var(--header-bg-cl);

	&__inner {
		@include media-breakpoint-down(sm) {
			flex-wrap: wrap;
		}

		display: flex;
		justify-content: space-between;
	}

	&__side {
		display: flex;
		align-items: center;
	}

	&__logo {
		@include media-breakpoint-down(sm) {
			margin-right: 0;
		}

		margin-right: 70px;
	}

	&__menu {
		@include media-breakpoint-down(lg) {
			display: none;
		}
	}

	&__menu-list {
		display: flex;
		list-style-type: none;

		&--mobile {
			flex-direction: column;
		}
	}

	&__menu-item {
		cursor: pointer;

		&:not(:last-child) {
			@include media-breakpoint-down(xl) {
				margin-right: 25px;
			}

			margin-right: 40px;
		}
	}

	&__menu-link {
		display: block;
	}

	&__language {
		@include media-breakpoint-down(md) {
			display: none;
		}

		position: relative;
		display: flex;
		align-items: center;
		cursor: pointer;

		&--mobile {
			@include media-breakpoint-up(md) {
				display: none;
			}

			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			margin-bottom: 50px;
		}
	}

	&__language-text {
		display: flex;
		align-items: center;
		margin-right: 16px;
		text-transform: uppercase;

		&--mobile {
			margin-right: 0;
		}

		&::before {
			content: '';
			width: 25px;
			height: 24px;
			margin-right: 8px;
			background-image: url('../img/index/header/italy.svg');
			background-size: cover;
		}
	}

	&__button {
		@include media-breakpoint-down(md) {
			padding: 12px 18px;
		}

		@include media-breakpoint-down(sm) {
			display: none;
			padding: 10px 16px;
		}

		margin-left: 10px;
		padding: 12px 24px;

		&--color {
			@include media-breakpoint-down(xs) {
				display: none !important;
			}
		}

		&--mobile {
			@include media-breakpoint-down(md) {
				display: block;
			}

			display: none;
			margin-left: 0;
		}

		&--mobile-color {
			@include media-breakpoint-down(sm) {
				display: block;
			}
		}
	}

	&__burger {
		display: none !important;

		&--active {
			display: block !important;
		}
	}

	&__close {
		display: none !important;

		&--active {
			display: block !important;
		}
	}


	&__toggle {
		@include media-breakpoint-down(lg) {
			display: block;
		}

		display: none;
	}

	&__mobile {
		position: sticky;
		top: 20px;
		display: none;
		width: 100%;
		height: 600px;
		overflow-y: scroll;

		&--active {
			@include media-breakpoint-up(lg) {
				display: none;
			}

			display: block;
		}
	}

	&__mobile-menu-toggle {
		position: relative;
		display: inline-block;
		margin-left: 20px;
		padding: 10px;
		border: none;
		background-color: transparent;
		text-decoration: none;
		cursor: pointer;
	}

	&__mobile-list {
		margin-bottom: 50px;
		padding-top: 20px;
		list-style-type: none;
	}

	&__mobile-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 44px;
		border-bottom: 1px solid var(--header-mobile-item-border-cl);
		cursor: pointer;
	}

	&__mobile-dropdown {
		display: none;
		padding: 20px;
		border-bottom: 1px solid var(--header-mobile-item-border-cl);

		&--active {
			display: block;
		}
	}

	&__mobile-drop-icon {
		margin-right: 20px;
	}

	&__mobile-button {
		display: flex;
		justify-content: center;
		margin-bottom: 50px;
	}

	&__mobile-content {
		@include media-breakpoint-down(sm) {
			flex-direction: column;
			align-items: center;
		}

		display: flex;
		justify-content: center;
		margin-bottom: 50px;
	}

	&__mobile-content-link {
		@include media-breakpoint-down(sm) {
			&:not(:last-child) {
				@include media-breakpoint-down(sm) {
					margin-right: 0;
					margin-bottom: 10px;
				}

				margin-right: 10px;
			}
		}
	}

	&__info {
		padding: 0	30px;
	}
}

.dropdown__icon {
	margin-left: 8px;
}
