/* stylelint-disable scss/selector-nest-combinators */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	@include media-breakpoint-down(xl) {
		--body-fz: (--fz-md-lg);
	}

	@include media-breakpoint-down(lg) {
		--body-fz: (--fz-sm-lg);
	}

	--body-fz: var(--fz-lg);
	--body-lh: var(--lh-lg);

	background-color: var(--body-bg-cl);
	color: var(--body-cl);
	font-family: var(--ff-lato);
	font-size: var(--body-fz);
	line-height: var(--body-lh);
}

.no-scroll {
	@include media-breakpoint-up(lg) {
		overflow: scroll;
	}

	overflow: hidden;
}

.page-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 4;
	display: none;
	background-color: rgba(var(--indigo-100), .6);

	&--active {
		@include media-breakpoint-up(lg) {
			display: none;
		}

		display: block;
	}
}

.container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 20px;
}

.icon {
	display: inline-block;
	fill: currentColor;
	vertical-align: middle;
}
