.button {
	--button-bg-cl: var(--button-bg-default-cl);

	display: inline-block;
	border: none;
	border-radius: 10px;
	background-color: var(--button-bg-cl);
	color: var(--cl-white);
	font-weight: var(--fw-sb);
	text-decoration: none;
	transition: background-color .3s;

	&:hover {
		--button-bg-cl: var(--button-bg-hover-cl);
	}

	&:active {
		--button-bg-cl: var(--button-bg-active-cl);
	}
}
