.about {
	margin-bottom: 40px;

	&__inner {
		@include media-breakpoint-down(xl) {
			padding: 92px 70px 0;
		}

		@include media-breakpoint-down(lg) {
			padding: 72px 50px 0;
		}

		@include media-breakpoint-down(md) {
			display: none;
		}

		padding: 112px 90px 0;
		border-radius: 24px;
		background-color: var(--about-bg-cl);
	}

	&__title {
		--about-title-fw: var(--fw-n);

		margin-bottom: 24px;
		font-weight: var(--about-title-fw);
		text-transform: uppercase;
	}

	&__top {
		@include media-breakpoint-down(lg) {
			height: 310px;
		}

		height: 242px;
	}

	&__biography {
		display: flex;
		justify-content: space-between;
		min-height: 236px;
	}

	&__info {
		@include media-breakpoint-down(xl) {
			margin-right: 40px;
		}

		@include media-breakpoint-down(lg) {
			width: 50%;
			margin-right: 20px;
		}

		max-width: 480px;
		margin-right: 100px;
	}

	&__info-position {
		margin-bottom: 12px;
	}

	&__quote {
		@include media-breakpoint-down(lg) {
			width: 50%;
		}

		max-width: 600px;
		height: 100%;
		padding: 32px 40px;
		border-radius: 16px;
		background-color: var(--about-quote-bg-cl);

		&--mobile {
			width: 100%;
			height: auto;
		}
	}

	&__quote-text {
		&::before {
			@include media-breakpoint-down(md) {
				content: '';
				display: inline-table;
				margin-right: 12px;
				margin-bottom: auto;
				background-size: contain;
				background-repeat: no-repeat;
			}

			content: '';
			display: block;
			width: 36px;
			height: 29px;
			margin-bottom: 12px;
			background-image: url('../img/index/about/quotes.svg');
		}
	}

	&__photo {
		@include media-breakpoint-down(xl) {
			min-height: 290px;
		}

		@include media-breakpoint-down(lg) {
			min-height: 240px;
			margin-top: 0;
		}

		display: flex;
		min-height: 336px;
		margin-top: 56px;
	}

	&__photo-card {
		position: relative;
		width: 100%;
		overflow: hidden;
		opacity: .5;
		cursor: pointer;
		transition: opacity .3s;

		&:hover {
			opacity: 1;
		}

		&--active {
			opacity: 1;
		}
	}

	&__photo-inner {
		position: absolute;
		bottom: -40px;
		width: 100%;
		transition: all .3s;

		&--active {
			bottom: 0;
		}
	}

	&__photo-name {
		@include media-breakpoint-down(lg) {
			bottom: 85%;
		}

		position: absolute;
		opacity: 1;
		transition: opacity .3s;

		&--active {
			opacity: 0;
		}
	}

	&__photo-img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;

		&--mobile {
			@include media-breakpoint-down(sm) {
				display: block;
				height: auto;
				object-fit: contain;
			}
		}
	}

	&__mobile {
		@include media-breakpoint-up(md) {
			display: none;
		}
	}

	&__mobile-card {
		margin-bottom: 42px;
		padding: 0 22px;
		border-radius: 24px;
		background-color: var(--about-bg-cl);
	}

	&__mobile-card-inner {
		@include media-breakpoint-down(sm) {
			flex-direction: column;
		}

		display: flex;
	}

	&__mobile-card-bio {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-right: 18px;
		padding-top: 22px;

		&--even {
			@include media-breakpoint-down(sm) {
				order: 0;
			}

			order: 1;
			margin-right: 0;
			margin-left: 18px;
		}
	}

	&__mobile-quote {
		width: 100%;
		height: auto;
		padding: 32px 40px;
		border-radius: 16px;
		background-color: var(--about-quote-bg-cl);
	}

	&__mobile-quote-text {
		&::before {
			@include media-breakpoint-down(md) {
				content: '';
				display: inline-table;
				margin-right: 12px;
				margin-bottom: auto;
				background-size: contain;
				background-repeat: no-repeat;
			}

			content: '';
			display: block;
			width: 36px;
			height: 29px;
			margin-bottom: 12px;
			background-image: url('../img/index/about/quotes.svg');
		}
	}

	&__mobile-card-text {
		@include media-breakpoint-down(sm) {
			padding: 0 0 22px;
		}

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 22px 0;
	}

	&__mobile-card-description {
		order: 1;
		margin-top: 12px;
	}
}
