// ===============================================
// TYPOGRAPHY STYLES
// ===============================================


:root {

	// FONT FAMILY
	// -----------------------------------------------

	--ff-lato: 'Lato', 'Helvetica CY', 'Nimbus Sans L' sans-serif;
	--ff-metropolis: 'Metropolis', 'Helvetica CY', 'Nimbus Sans L' sans-serif;

	// -----------------------------------------------
	// FONT FAMILY


	// FONT WEIGHT
	// -----------------------------------------------

	--fw-n: 400;
	--fw-sb: 600;
	--fw-b: 700;

	--h1-fw: 700;
	--h2-fw: 700;
	--h3-fw: 700;
	--h4-fw: 700;
	--h5-fw: 700;

	// -----------------------------------------------
	// FONT WEIGHT


	// FONT SIZE
	// -----------------------------------------------

	--fz-xs: 12px;
	--fz-sm: 16px;
	--fz-md: 17px;
	--fz-lg: 18px;
	--fz-xl: 20px;
	--fz-2xl: 22px;
	--fz-3xl: 24px;

	--h1-fz: 68px;
	--h2-fz: 48px;
	--h3-fz: 32px;
	--h4-fz: 24px;
	--h5-fz: 20px;

	// -----------------------------------------------
	// FONT SIZE


	// LINE HEIGHT
	// -----------------------------------------------

	--lh-xs: 1;
	--lh-sm: 1.2;
	--lh-md: 1.4;
	--lh-lg: 1.6;

	--h1-lh: var(--lh-xs);
	--h2-lh: var(--lh-md);
	--h3-lh: var(--lh-sm);
	--h4-lh: var(--lh-sm);
	--h5-lh: var(--lh-sm);

	// -----------------------------------------------
	// LINE HEIGHT


	// TEXT COLORS
	// -----------------------------------------------

	--text-primary-cl: var(--cl-indigo-100);
	--text-secondary-cl: var(--cl-blue-350);
	--text-light-cl: var(--cl-white);

	// -----------------------------------------------
	// TEXT COLORS
}
