include ../mixins/picture

section.control
	.container
		.control__inner
			h2.h2.control__title Control your team spendings with expense management features
			.control__item.control__item--cards
				.control__item-text
					h3.h3.control__item-title 
						span.text-secondary Unlimited 
						| virtual cards to&nbsp;your team in&nbsp;several clicks
					p.text-info.text-3xl Enable faster purchasing by&nbsp;issuing personal cards or&nbsp;creating separate sub-accounts for your employees. Customize cards limits and spending policies.
			.control__item.control__item--visibility
				.control__item-text
					h3.h3.control__item-title 
						span.text-secondary Full visibility 
						|  on&nbsp;team spendings
					p.text-info.text-3xl Enjoy real-time, customizable reporting available in&nbsp;app or&nbsp;desktop. Never miss a&nbsp;transaction with smart notifications.
			.control__item.control__item--bookkeeping
				.control__item-text
					h3.h3.control__item-title Collect receipts&nbsp;to 
						span.text-secondary simplify 
							br
							| bookkeeping
					p.text-info.text-3xl And not just receipts&nbsp;&mdash; invoices, contracts and any other document can be&nbsp;easily mapped with any transaction.
			.control__item.control__item--connection
				.control__item-text
					h3.h3.control__item-title All bank accounts 
						span.text-secondary connected
					p.text-info.text-3xl ACombine all your finances in&nbsp;a&nbsp;single interface linking other banks accounts to&nbsp;FINOM. Integration? Will take several minutes and few clicks.
			.control__item.control__item--subscribtions
				.control__item-text
					h3.h3.control__item-title 
						span.text-secondary Manage subscriptions 
						br 
						| with separate card
					p.text-info.text-3xl Never let your recurring payments get loose. Issue a&nbsp;separate virtual card to&nbsp;control your subscriptions. Turn it&nbsp;on/off right from the interface and receive additional cashback for certain categories
						br
						|
						br
						| (coming soon)
			a.text-2xl.button.control__button(href='#' aria-label='Get our card') Get card
