include ../mixins/svg
include ../mixins/picture

section.features
	.container
		.features__inner
			.row.gx-76
				div(class='col-6 lg:col-4 features__content')
					.features__badge
						.text-xl.features__badge-name up to 3% cashback
				div(class='col-6 lg:col-8 features__description')
					h2.h2.features__description-title FINOM Virtual Card&nbsp;&mdash; quick, flexible, secure
					.row.gy-24.features__description-list
						div(class='col-12 lg:col-6 features__item')
							.features__item-stickers
								.features__item-img
									+svg('applepay', '30', '12', 'icon features__item-icon', 'Apple pay')
								.features__item-img
									+svg('gpay', '31', '12', 'icon features__item-icon', 'Google pay')
							p.h5.features__item-title Pay on the go
							p.features__item-text Forget about the hassle of&nbsp;physical cards and pay with just your smart phone using Apple Pay or&nbsp;Google Pay
						div(class='col-12 lg:col-6 features__item')
							.features__item-stickers
								.features__item-img
									+svg('lock', '16', '20', 'icon features__item-icon', 'Lock')
							p.h5.features__item-title Feel secure
							p.features__item-text No&nbsp;magnetic strips, visible card numbers or&nbsp;PINs. No&nbsp;risk of&nbsp;overspending above prepaid limits
						div(class='col-12 lg:col-6 features__item')
							.features__item-stickers
								.features__item-img
									+svg('rocket', '20', '20', 'icon features__item-icon', 'Rocket')
							p.h5.features__item-title Issue instanly
							p.features__item-text Several clicks to&nbsp;create a&nbsp;card for any purpose and every employee
						div(class='col-12 lg:col-6 features__item')
							.features__item-stickers
								.features__item-img
									+svg('clock', '20', '20', 'icon features__item-icon', 'Clock')
							p.h5.features__item-title Manage in real-time
							p.features__item-text Set limits, freeze, track, top-up or&nbsp;block cards in&nbsp;just a&nbsp;minute from mobile or&nbsp;desktop
					a.button.features__button(href='#' aria-label='Get our card') Get card
