include ../mixins/svg
include ../mixins/picture

header.header
	.container
		.header__inner
			.header__side
				a.logo.link-light.header__logo(href='/' aria-label='Finom')
					+svg('logo', '107', '23', 'icon logo__icon', 'Finom')
				nav.header__menu
					ul.header__menu-list
						li.dropdown.dropdown--products.link-primary.text-sm.header__menu-item Products
							+svg('arrow-down', '8', '5', 'icon dropdown__icon')
							.dropdown__menu.dropdown__menu--products
								.dropdown__menu-triangle
									.row.g-20
										.col-6
											a.link-primary.dropdown__menu-link(aria-label='Business account' href='#')
												.dropdown__menu-link-img
													+svg('receipt', '20', '20', 'icon dropdown__link-icon')
												p.text-sm.dropdown__menu-link-text Business account
										.col-6
											a.link-primary.dropdown__menu-link(aria-label='Invoicing' href='#')
												.dropdown__menu-link-img
													+svg('list', '20', '20', 'icon dropdown__link-icon')
												p.text-sm.dropdown__menu-link-text Invoicing
										.col-6
											a.link-primary.dropdown__menu-link(aria-label='Cards' href='#')
												.dropdown__menu-link-img
													+svg('card', '20', '20', 'icon dropdown__link-icon')
												p.text-sm.dropdown__menu-link-text Cards
										.col-6
											a.link-primary.dropdown__menu-link(aria-label='Multi-Banking' href='#')
												.dropdown__menu-link-img
													+svg('multibanking', '20', '20', 'icon dropdown__link-icon')
												p.text-sm.dropdown__menu-link-text Multi-Banking
										.col-6
											a.link-primary.dropdown__menu-link(aria-label='Cashback' href='#')
												.dropdown__menu-link-img
													+svg('gift', '20', '20', 'icon dropdown__link-icon')
												p.text-sm.dropdown__menu-link-text Cashback
										.col-6
											a.link-primary.dropdown__menu-link(aria-label='Apple Pay' href='#')
												.dropdown__menu-link-img
													+svg('telephone', '20', '20', 'icon dropdown__link-icon')
												p.text-sm.dropdown__menu-link-text Apple Pay
										.col-6
											a.link-primary.dropdown__menu-link(aria-label='Launch your business' href='#')
												.dropdown__menu-link-img
													+svg('rocket', '20', '20', 'icon dropdown__link-icon')
												p.text-sm.dropdown__menu-link-text Launch your business
						li.header__menu-item
							a.link-primary.text-sm.header__menu-link(href='#' aria-label='Our pricing') Pricing
						li.dropdown.dropdown--company.link-primary.text-sm.header__menu-item Company
							+svg('arrow-down', '8', '5', 'icon dropdown__icon')
							.dropdown__menu.dropdown__menu--company
								.dropdown__menu-triangle
									ul.dropdown__menu-list
										li.mb-20
											a.link-primary.text-sm.dropdown__menu-link(href='#' aria-label='About us') About&nbsp;us
										li.mb-20
											a.link-primary.text-sm.dropdown__menu-link(href='#' aria-label='Our projects') Our projects
										li
											a.link-primary.text-sm.dropdown__menu-link(href='#' aria-label='Work with us') Work with&nbsp;us
						li.dropdown.dropdown--help.dropmenu.link-primary.text-sm.header__menu-item Help
							+svg('arrow-down', '8', '5', 'icon dropdown__icon')
							.dropdown__menu.dropdown__menu--help
								.dropdown__menu-triangle
									ul.dropdown__menu-list
										li.mb-20
											a.link-primary.text-sm.dropdown__menu-link(href='#' aria-label='Terms') Terms & Conditions
										li.mb-20
											a.link-primary.text-sm.dropdown__menu-link(href='#' aria-label='Privacy policy') Privacy Policy
										li.mb-20
											a.link-primary.text-sm.dropdown__menu-link(href='#' aria-label='Conditions') Conditions
										li
											a.link-primary.text-sm.dropdown__menu-link(href='#' aria-label='Cookie police') Cookie Police
						li.header__menu-item
							a.link-primary.text-sm.header__menu-link(href='#' aria-label='Blog') Blog
			.header__side
				.dropdown.dropdown--language.link-primary.header__language
					span.text-sm.header__language-text en
					+svg('arrow-down', '8', '5', 'icon dropdown__icon')
					.dropdown__menu.dropdown__menu--language
						.dropdown__menu-triangle
							p.text-xs.text-info.dropdown__text language
							ul.dropdown__menu-list.dropdown__menu-list--languages
								li.dropdown__menu-item.dropdown__languages
									a.text-sm.dropdown__languages-link(href='#' aria-label='Italy language') it
								li.dropdown__menu-item.dropdown__menu-item--active.dropdown__languages
									a.text-sm.dropdown__languages-link(href='#' aria-label='English language') en
							p.text-xs.text-info.dropdown__text country
							ul.dropdown__menu-list
								li.dropdown__menu-item.dropdown__menu-item--active.dropdown__countries
									a.text-sm.dropdown__countries-link.dropdown__countries-link--italy(href='#' aria-label='Italia') Italia
								li.dropdown__menu-item.dropdown__countries
									a.text-sm.dropdown__countries-link.dropdown__countries-link--france(href='#' aria-label='France') France
								li.dropdown__menu-item.dropdown__countries
									a.text-sm.dropdown__countries-link.dropdown__countries-link--germany(href='#' aria-label='Deutschland') Deutschland
				a.header__button.link-light.text-sm(href='#' aria-label='Sign in') Sign in
				a.header__button.header__button--color.button.text-sm.text-sm(href='#' aria-label='Get our card') Get card
				button.link-light.header__mobile-menu-toggle.header__burger.header__burger--active(type='button' name='Mobile menu')
					+svg('burger','25', '25', 'icon header__burger-toggle')
				button.link-light.header__mobile-menu-toggle.header__close(type='button' name='Mobile menu')
					+svg('cross','25', '25', 'icon header__burger-toggle')
		.header__mobile
			nav.header__mobile-menu
				ul.header__mobile-list
					li.header__mobile-item.link-primary.text-sm Products
						+svg('arrow-down', '8', '5', 'icon header__mobile-drop-icon')
					li.header__mobile-item
						a.header__mobile-link.link-primary.text-sm(href='#' aria-label='Our pricing') Pricing
					li.header__mobile-item.link-primary.text-sm Company
						+svg('arrow-down', '8', '5', 'icon header__mobile-drop-icon')
					li.header__mobile-item.link-primary.text-sm Help
						+svg('arrow-down', '8', '5', 'icon header__mobile-drop-icon')
					li.header__mobile-item
						a.header__mobile-link.link-primary.text-sm(href='#' aria-label='Blog') Blog
			.header__language.header__language--mobile.dropdown.dropdown--language.link-primary
				span.text-sm.header__language-text.header__language-text--mobile en
				+svg('arrow-down', '8', '5', 'icon dropdown__icon dropdown__icon--mobile')
				.dropdown__menu.dropdown__menu--language.dropdown__menu--mobile
					.dropdown__menu-triangle
						p.text-xs.text-info.dropdown__text language
						ul.dropdown__menu-list.dropdown__menu-list--languages
							li.dropdown__menu-item.dropdown__languages
								a.text-sm.dropdown__languages-link(href='#' aria-label='Italy language') it
							li.dropdown__menu-item.dropdown__menu-item--active.dropdown__languages
								a.text-sm.dropdown__languages-link(href='#' aria-label='English language') en
						p.text-xs.text-info.dropdown__text country
						ul.dropdown__menu-list
							li.dropdown__menu-item.dropdown__menu-item--active.dropdown__countries
								a.text-sm.dropdown__countries-link.dropdown__countries-link--italy(href='#' aria-label='Italia') Italia
							li.dropdown__menu-item.dropdown__countries
								a.text-sm.dropdown__countries-link.dropdown__countries-link--france(href='#' aria-label='France') France
							li.dropdown__menu-item.dropdown__countries
								a.text-sm.dropdown__countries-link.dropdown__countries-link--germany(href='#' aria-label='Deutschland') Deutschland
			.header__mobile-button
				a.header__button.header__button--mobile.link-light.text-sm(href='#' aria-label='Sign in') Sign in
				a.header__button.header__button--mobile-color.button.text-sm.text-sm(href='#' aria-label='Get our card') Get card
			.header__mobile-content
				a.header__mobile-content-link(aria-label='Apple store' href='#')
					img.d-block.header__mobile-content-img(src='img/index/footer/app-store.svg' alt='Apple store')
				a.header__mobile-content-link(aria-label='Google play market' href='#')
					img.header__mobile-content-img(src='img/index/footer/g-play.svg' alt='Google play market')
			.header__mobile-info
				p.text-info.text-xs FINOM (trade name of&nbsp;PNL Fintech B.V.), the company registered under number 74178784, office at&nbsp;Jachthavenweg 109&nbsp;H, 1081&nbsp;KM Amsterdam, the Netherlands, in&nbsp;France licenced under REGAFI identifier 88291&nbsp;as an&nbsp;agent of&nbsp;Treezor SAS (nr&nbsp;807&nbsp;465&nbsp;059).
